<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paging Mission Control</title>
</head>
<body>
    <h1>Mission Control Dashboard</h1>
    
    <h2>Satellites in Operation</h2>
    <p><%= satelliteKey %></p>
    
    <h2>Low Voltage Events </h2>
    <p><%= lowVoltage %></p>
    
    <h2>High TSTAT Events</h2>
    <p><%= highTstat %></p>


<script>
   let satelliteKey = [<%= satelliteKey %>];
   let lowVoltage = <%- lowVoltage %>;
   let highTstat = <%- highTstat %>;
   let lowVoltageEvents = new Array();
   let highTstatEvents = new Array();
   let tstatCounter = 0;
   let voltageCounter = 0;

   for (var i = 0; i < satelliteKey.length; i++) {
       for( var j = 0; j < lowVoltage.length; j++) {
           if (satelliteKey[i] === Number(lowVoltage[j].satelliteId)){
            voltageCounter++   
                if( voltageCounter === 3 ) {
                    let pushEvent = lowVoltage[j];
                    console.log( pushEvent );
                    lowVoltageEvents.push(pushEvent)
                }
           
            }
            else {
              voltageCounter = 0; 
           }         
       }
   } 

   for (var i = 0; i < satelliteKey.length; i++) {
       for( var j = 0; j < highTstat.length; j++) {
           if (satelliteKey[i] === Number(highTstat[j].satelliteId)){
            tstatCounter++   
                if( tstatCounter === 3 ) {
                    let pushEvent = highTstat[j];
                    console.log( pushEvent );
                    highTstatEvents.push(pushEvent)
                }
           
            }
            else {
              tstatCounter = 0; 
           }         
       }
   }  
   
  var combineEvents = highTstatEvents.concat(lowVoltageEvents);
  alert(JSON.stringify(combineEvents, null, 4))  

</script>
</body>
</html>